<div class="center-alert">
   <%= render :partial => 'shared/flash_messages' %>
</div>


<h1><%= @event.name %></h1>
<p><span class="strong">Host:</span> <%if @host.user.id == current_user.id %> You <%else%> <%=@event.host.user.name.capitalize%><%end%></p>
<p><strong>Location:</strong> <%= @event.location %><br></p>
<p><strong>Date:</strong> <%= @event.date %><br></p>
<p><strong>Description:</strong> <%= @event.description %><br></p>

<strong>Guests:</strong><br> *Green indicates attendance <br>
<% @guests.collect do |eventguest| %>
  <!--the host name will not appear as a suggestion in the guest list -->
  <% if eventguest.guest.user.id == @host.user.id %>
    <% nil %>
  <% else %>
      <% if eventguest.rsvp == true %>
        <font color="green"><%= eventguest.guest.user.name.capitalize %></font><br>
        <br>
      <% else %>
        <font color="red"><%= eventguest.guest.user.name.capitalize %></font><br>
      <% end %>
  <% end %>
<% end %>

<% @guests.each do |guest| %>
  <% if guest.guest_id == current_user.guest.id && !guest.going %>
      <div class="form-group">
        <p><strong>Will you be attending?</strong>
        <%= form_for @eventguest do |f| %>
          <%= f.check_box :rsvp %>
          <%= f.label :rsvp, "Yes" %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
        <% end %>
  <% end %>
<% end %>


<% if @host.user.id == current_user.id %>
  <%= link_to "Edit Event", edit_user_event_path(@user, @event) %><br>
  <%= link_to "Delete Event", user_event_path(@user, @event), method: :delete %>
<% else %>
  <% nil %>
<% end %>
