<%= form_for @user do |f| %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email" %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Password: Please enter a minimum of 6 characters" %><br>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Please re-enter your password" %><br>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>


  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
