<div class="form">

<%=form_for @event, url: {action: "create"} do |f|%>

  <div class="form-group">
    <%= f.label :name, "Event Name" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :location, "Location" %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :date, "From:" %><br>
    <%= f.date_field :date, class: "form-control" %>
  </div><br>

  <div class="field">
    <%= f.label :description, "Please enter a description of your event. *Optional*" %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div><br>

  <span><strong>Invite Your Guests:</strong></span><br>
  *You may not uninvite guests once they are invited <br>
  <%@users.each do |user|%>
  <!-- host's name will not appear as an option -->
    <% if guest.id == @host.user.id %>
      <% nil %>
    <% else %>
      <input type="checkbox" id="<%=user.id%>" name="event[guest][]" value="<%=user.id%>"><%=user.name.capitalize%></input><br>
    <% end %>
  <% end %>
    <br>


    <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>


<% end %>

</div>
