<div class="form">
<%= form_for @event do |f| %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :location, "Location" %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :date_from, "From:" %><br>
    <%= f.date_field :date_from, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :date_to, "To: *Optional" %><br>
    <%= f.date_field :date_to, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :description, "Please enter a description of your event. *Optional*" %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div><br>


  <span>Invite Your Guests:</span><br>
        <%@users.each do |user|%>
          <input type="checkbox" id="<%=user.id%>" name="event[guest][]" value="<%=user.id%>"><%=user.name%></input><br>
          <% end %>
          <br>




  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>

</div>
