
<h1>Edit <%= @event.name %></h1>

<div class="form">

<%= form_for([@user, @event], html: { multipart: true }) do |f| %>
  <div class="form-group">
    <%= f.label :name, "Event Name" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :location, "Location" %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :date, "From:" %><br>
    <%= f.date_field :date, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :description, "Description: *Optional*" %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :guests, "Guests:" %><br>
    (Sorry, you may not uninvite guests once they are invited.)<br><br>
    <% @event.guests.collect do |guest| %>
    <%= guest.user.name.capitalize %><br>
    <% end %>
  </div><br>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <% end %>

  <p><%= link_to 'Cancel', user_path(@user) %></p>



</div>
