<h1>Events You Created:</h1>

<table class="table">

  <tbody>

    <tr><!--this will name the columns-->
      <td><strong>Name</strong></td>
      <td><strong>Location</strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Edit</strong></td>
      <td><strong>Delete</strong></td>
    </tr>

    <tr><!--this will list the details of the column name-->
        <% @events.each do |event| %>
      <td><%= link_to "#{event.name}", user_event_path(@user, event) %></td>
      <td><%= event.location %></td>
      <td><%= event.date.strftime("%b %d, %Y") %></td>
      <td><%= link_to "Edit", edit_user_event_path(@user, event) %></td>
      <td><%= link_to "Delete", user_event_path(@user, event), method: :delete %></td>


    </tr>
    <% end %>
  </tbody>
</table>


<p><%= link_to "Create New Event", new_user_event_path(@user) %></p>

<p>Events You've Been Invited to:</p>

<% @invites.each do |invite| %>
<%= link_to "#{invite.name}", user_event_path(@user, invite) %><br>
<% end %>
