<p>Events You Created:</p>

<table class="table">

  <thread><!--this will set 4 columns-->
    <tr>
      <th colspan="4"></th>
    </tr>
  </thread>

  <tbody>
    <tr><!--this will name the columns-->
      <td><strong>Name</strong></td>
      <td><strong>Location</strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Edit</strong></td>
      <td><strong>Delete</strong></td>
    </tr>

  <% @events.each do |event| %>

    <tr><!--this will list the details of the column name-->
      <td><%= link_to "#{event.name}", event_path(event) %></td>
      <td><%= event.location %></td>
      <td><%= event.date_from %></td>
      <td><%= event.date_to %></td>
      <td><%= link_to "Delete", event_path(event), method: :delete %></td>


    </tr>
    <% end %>
  </tbody>
</table>


<p><%= link_to "Create New Event", new_event_path %></p>

<p>Events You've Been Invited to:</p>

<% @invites.each do |invite| %>
<%= link_to "#{invite.name}", event_path(invite) %><br>
<% end %>
