<h1><%= @event.name %><br></h1>

<p><strong>Location:</strong> <%= @event.location %><br></p>
<p><strong>Date:</strong> <%= @event.date_from %><br></p>
<% if !@event.date_to.nil? %>
<p><strong>Date To:</strong> <%= @event.date_to%><br></p>
<% end %>
<p><strong>Description:</strong> <%= @event.description %><br></p>


<% @event.guests.collect do |guest| %>
<%= guest.user.name %><br>
<% end %>

<%= link_to "Edit", edit_event_path(@event) %><br>
