
<div class="center-alert">
   <%= render :partial => 'shared/flash_messages' %>
</div>

<h1><%= @event.name %></h1>
<p><span class="strong">Host:</span> <%if @host.user.id == current_user.id %> You <%else%> <%=@event.host.user.name.capitalize%><%end%></p>
<p><strong>Location:</strong> <%= @event.location %><br></p>
<p><strong>Date:</strong> <%= @event.date %><br></p>
<p><strong>Description:</strong> <%= @event.description %><br></p>

<strong>Guests:</strong><br>
*Green indicates attendance<br>
<% @guests.collect do |eventguest| %>
  <!--the host name will not appear as a suggestion in the guest list -->
  <% if eventguest.rsvp %>
      <p><font color="green"><%= eventguest.guest.user.name.capitalize %></font></p>
    <% else %>
      <p><%= eventguest.guest.user.name.capitalize %><p>
    <% end %>
<% end %>
<br>

<!-- only asks attendance once -->
<%= render 'attendance' %>

<!-- only the host gets to edit or delete event -->
<%= render 'hostaccess' %>
