
<h1><%= @event.name %></h1>
<p><span class="strong">Host:</span> <%if @host.user.id == current_user.id %> You <%else%> <%=@event.host.user.name.capitalize%><%end%></p>
<p><strong>Location:</strong> <%= @event.location %><br></p>
<p><strong>Date:</strong> <%= @event.date %><br></p>
<p><strong>Description:</strong> <%= @event.description %><br></p>

<strong>Guests:</strong><br>
<% @event.guests.collect do |guest| %>
  <!--the host name will not appear as a suggestion in the guest list -->
  <% if guest.id == @host.user.id %>
    <% nil %>
  <% else %>
    <%= guest.user.name.capitalize %><br>
  <% end %>
<% end %>
<br>
<br>

<%if @host.user.id == current_user.id %>
  <%= link_to "Edit Event", edit_user_event_path(@user, @event) %><br>
  <%= link_to "Delete Event", user_event_path(@user, @event), method: :delete %>
<% else %>
  <% nil %>
<% end %>
